<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="template/plantilla::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" th:replace="template/plantilla::barra"></div>
        <div class="container" style="max-width: 400px; margin-top: 50px">
            <div class="card">
                <div class="card-header">
                    Modificar Categoria
                </div>
                <div class="card-body">
                    <form action="/updatecate">
                        <div class="mb-3">
                            <input type="text" class="form-control m-25" placeholder="Categoria" name="categoria" th:value="${categoria.categoria}" >
                        </div>
                        <input type="hidden" name="id" th:value="${categoria.id}" />
                        <input type="submit" class="btn btn-primary" value="Actualizar">
                    </form>
                </div>
            </div>
    </body>
</html>
